@charset "utf-8"; /**/
:root {
	--border: 2px solid #c0c0c0;
}

/* aタグの文字の色変更、下線をなくす、その他 */
a {
	color: red;
	text-decoration: none;
	transition: 0.3s ease;
}

/* aタグの文字をホバーしたときに色を青にし、下線を引く。 */
a:hover {
	color: blue;
	text-decoration: underline;
}

/* aタグの文字をクリックしたときに色をオレンジにする */
a:active {
	color: #ff8800;
}

/* tableタグの行間の空白をできるだけなくす */
table {
	border-collapse: collapse;
}

/* th,tdタグの文字に枠線を付ける */
th,td {
	border: solid 2px black;
}

/* 大見出しの部分の下に線を引く */
#startline {
	border-bottom: 5px solid #33ff33;
	margin-bottom: 10px;
	padding-bottom: 10px;
	white-space: nowrap;
}

/* 特定のタグの下に線を引く */
.linea {
	border-bottom: var(--border);
	margin-bottom: 10px;
	padding-bottom: 10px;
	white-space: nowrap;
}

/* 特定のタグの上に線を引く */
.lineb {
	border-top: var(--border);
	margin-top: 10px;
	padding-top: 10px;
	white-space: nowrap;
}

/* できるだけ行間をなくす */
p,h1,h2 {
	margin-top: 0;
	margin-bottom: 0;
}

/* ボタンのスタイルを変更 */
button,input[type="button"] {
	cursor: pointer;
	margin: .2em 0;
	padding: .07em .5em;
	line-height: 1.4;
	background: #3e8bff;
	color: #FFF;
	font-size: 0.95em;
	border-radius: 2.5em;
	border: none;
	transition: 0.2s;
}

button:hover,input[type="button"]:hover {
	box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}

/* 文字の大きさを調節する */
html {
	font-size: 1.2em !important;
}

/* フォントを変える */
* {
	font-family: 'UD デジタル 教科書体 NK-R', sans-serif !important;
	letter-spacing: -0.05em;
}

/* デコレーションボタン（.labelから始まるもの） */
.label {
	display: inline-block;
	cursor: pointer;
	margin: .2em 0;
	padding: .07em .5em;
	line-height: 1.4;
	background: #3e8bff;
	color: #FFF;
	font-size: 0.95em;
	border-radius: 2.5em;
	transition: 0.2s;
}

.label:hover {
	box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}

.label input {
	display: none;
}

/* パンくずリスト（#breadcrumbから始まるもの） */
#breadcrumb {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
}

#breadcrumb li {
	display: inline;
	list-style: none;
	font-weight: bold;
}

#breadcrumb li::after {
	content: '▶';
	padding: 0 0.3em;
	color: #2e7fea;
}

#breadcrumb li:last-child::after {
	content: '';
}

#breadcrumb li a {
	display: inline-block;
	margin: .2em 0;
	padding: .07em .5em;
	line-height: 1.4;
	background: #3e8bff;
	color: #FFF;
	font-size: 0.95em;
	border-radius: 2.5em;
	transition: 0.2s;
	text-decoration: none;
}

#breadcrumb li a:hover {
	box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}
